/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'TradeGothic'; /*a name to be used later*/
    src: url('../fonts/TradeGothicLTStd.otf'); /*URL to font*/
}

@font-face {
    font-family: 'TradeGothic'; /*a name to be used later*/
	font-weight: bold;
    src: url('../fonts/TradeGothicLTStd-Bold.otf'); /*URL to font*/
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'TradeGothic';
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.spinner {
	z-index: 3000; 
	height: 100%;
	float: left;
	width: 100%;
	position: absolute;
	top: 0px;
	background-color: rgba(162,12,50,0.90);
}

.cube1, .cube2 {
  background-color: #FFF;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 43%;
  left: 43%;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}


/* Estilo Principal */

.input_buscador{
	width: 200px; 
	background-color: rgba(84,178,195, 0.7); 
	border-radius: 5px;
	height: 35px;
	padding-left: 7px;
	color: #FFF;
	border: 0px;
	font-size: 14px;	
}

::-webkit-input-placeholder { color: white; } /* WebKit */

:-moz-placeholder { color: white; } /* Firefox 18- */
::-moz-placeholder { color: white; } /* Firefox 19+ */
:-ms-input-placeholder { color: white; } /* IE 10+ */

.boton_upload{
	background-color: rgba(84,178,195, 0.7); 
	border: 0px;
	height: 80px;
	width: 80px;
	border-radius: 80px;
}

.boton_upload:hover{
	background-color: #2C5C63;	
}

.verde_transparente{
	background-color: rgba(52,147,2,0.70);
	border: 0px;
}

.celeste_transparente{
	background-color: rgba(84,178,195,0.70);
	border: 0px;	
}

.rojo_transparente{
	background-color: rgba(168,9,11,0.70);
	border: 0px;
}

.btn_blanco{
	background-color: #fff;
	height: 50px;
	width: 50px;
	border-color: #fff;
	border-radius: 50px;
	color: #B85254;
}

.btn_blanco:hover{
	background-color: #B85254;
	border-color: #B85254;
	color: #fff;
}

.btn-reproductor{
	background-color: #fff;
	border-color: #fff;
	margin: 0px 10px;
	padding: 5px 10px;
}

.btn-reproductor:hover{
	background-color: #fff;
	border-color: #B85254;
	color: #fff;
}

.btn-reproductor img{
	max-width: 32px;
}